.login{
    width: 100vw;
    height: 100vh;
    background-image: url("https://www.deltadental.com/content/dam/grinmag/us/en/2021/summer/132642_Space_Astronaut_1242x411.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
 

    .loginWrapper{
        width: 70%;
        display: flex;

        .loginLeft{
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 0 20px;
            

            .loginLogo{
                font-size: 60px;
                font-weight: 800;
                color: #011631;
                margin-bottom: 10px;
                margin-top: 200px;
                padding-left: 50px;
            }

            .loginDesc{
                font-size: 28px;
                padding-left: 50px;
        
            }
        }

        .loginRight{
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 0 20px;
            padding-left: 200px;
            margin-top: 200px;
            margin-left: 400px;
            justify-content: flex-start;
            
              
                    .bottomBox{
                        height: 350px;
                        padding: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        border-radius: 10px;
                        background-color:rgb(191, 219, 241);

                        .loginInput{
                            height: 50px;
                            border-radius: 10px;
                            padding-left: 20px;
                            font-size: 18px;
                            border: 1px solid gray;

                            &:focus{
                                outline: none;
                            }
                        }

                        .loginButton{
                            height: 50px;
                            width: 100%;
                            background-color: #011631;
                            color: white;
                            font-weight: 500;
                            font-size: 23px;
                            border-radius: 10px;
                            border: none;
                            margin-bottom: 5px;
                            cursor: pointer;
                        }

                        .loginRegisterButton{
                            height: 50px;
                            width: 100%;
                            background-color: #42b72a;
                            color: white;
                            font-weight: 500;
                            font-size: 23px;
                            border-radius: 10px;
                            border: none;
                            margin-bottom: 5px;
                            cursor: pointer;
                        }

                    }
                
            

        }
    }
}
