.app.dark{
    background-color: #111111;
    color: rgb(156,156,156);

    .navbarContainer{
        background-image: url("../../public/assets/profileCover/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        color: rgb(156,156,156);
        border-bottom: 0.5px solid rgb(156,156,156);;

        .logo{
            color: rgb(156,156,156);
        }
        .navbarLink{
            color: rgb(156,156,156);
        }
        .searchInput{
            color: #000000;
        }
    }
    
    .sidebar{
        background-color: #111111;
        color: rgb(237, 230, 230);

        .sidebarButton{
            background-color: rgb(224, 221, 221);;
            color: #000000;
        }
    }

    .menuLink:hover{
        background-color: rgba(98,97,97,0.3);
    }
    

    .sidebarFriendName{
        color: rgb(237, 230, 230);

    }

    .feed{
        background-color: #111111;
        color: rgb(156,156,156);

        .shareInput{
            color: rgb(255, 255, 255);
        }
    }

    .rightbar{
        background-color: #111111;

        .rightbarUsername{
            color: rgb(156,156,156);
        }
    }

    .editButton{
        background-color: rgb(156,156,156);
        color: #000000;
    }

    .editProfile{
        .bottom{
            .right{
                form{
                    input{
                        color: rgb(156,156,156);
                    }
                    .updateButton{
                        background-color: rgb(156,156,156);
                        color: #000000;
                    }
                }
            }
        }
    }.commentBox{
        display: flex;
    
        .commentInput{
            display: flex;
            flex: 1;
            width: 75%;
            background: white;
            color: black;
            border: 1px solid #011631;
            padding: 10px 5px 0px 5px;
            margin: 0px 0px 20px 20px;
            outline: none;
        }
    
        .commentPost{
            display: flex;
            padding: 10px 25px;
            background-color: rgb(224, 221, 221);;
                color: #000000;
            font-size: 14px;
            font-weight: 500;
            margin: 0px 20px 20px 0px;
            border: none;
            cursor: pointer;
    
            &:disabled{
                cursor: not-allowed;
                background-color: #011631a4;
            }
        }
    }.footerText{
        font-weight: 500;
        color: #769bcb;
    }
    .footerIcon{
        color: #769bcb;
        font-size: 30px;
        margin-right: 10px;
    }
    .shareInput{
        border: none;
        background-color: transparent;
        color: rgba(250, 253, 255, 0.909);
        font-size: 18px;
        width: 80%;
        height: 30px;
    }.postText{
        color: rgb(255, 255, 255);
        }
        .postUsername{
            color: rgb(255, 255, 255);
        }
        .postDate{
            color: rgb(255, 255, 255);
        }.shareOptionText{
            color: rgb(255, 255, 255);
        }
} 
